body {
    background: black;
}

#container {
    position: absolute;
    width: 880px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}

#canvas1 {
    position: relative;
    width: 880px;
    height: 700px;
}

#slider {
    width: 100%;
}
p {
    color: white;
}